a {
  text-decoration: none;
}
span {
  padding-right: 1rem;
}
.navbar {
  width: 100%;
  height: 5rem;
  justify-content: space-between;
  background-image: url(../../../assets/images/logoMoongy.png);
  position: fixed;
  top: 0;
  left: 0;
}

.navbar-a{ 
  color: rgb(0, 0, 0) !important;
  font-size: 1rem;
  font-family: "Roboto", sans-serif !important;
}
.name {
  font-family: "Roboto", sans-serif !important;
}
.name-company {
  color: rgb(2, 2, 2);
  font-size: 3rem;
}
.name-product {
  font-family: "Lexend Peta", sans-serif !important;
  font-family: "Roboto", sans-serif !important;
  font-family: "Sansita Swashed", cursive !important;
  color: rgb(2, 2, 2);
  font-size: 1.5rem;
  font-weight: normal;
}
.material-icons > a {
  color: rgb(2, 2, 2) !important;
  font-size: 1.8rem;
}
.wrapper > {
  /* margin-top: 5%; */
  width: 100%;
  height:72%; 
  /* background-color: rgb(255, 0, 157); */
  /* display:block; */
  
 
}
.footer-img {
  background-image: url(../../../assets/images/moongyfooter.png) !important;
  width: 100%;
  height: 12rem;
  position: fixed;
  bottom: 0;
  left: 0;
}
