<mat-toolbar class="navbar">
  <div>
    <span class="name name-company">moOngy.</span>
    <span class="name name-product">Legal Portal Managment</span>
  </div>
  <div>
    <span class="material-icons"><a href="">home</a> </span>
    <span class="material-icons"><a href="">groups</a> </span>
    <span class="material-icons"><a href="">contact_phone</a> </span>
    <span class="material-icons"><a href="">account_circle</a> </span>
  </div>
</mat-toolbar>
<body class="wrapper">  
  <!-- chamando o compoment moong-company -->
  <app-moongy-company></app-moongy-company>
</body>
<footer>
  <div class="footer-img"></div>
</footer>
