<div class="main">
  <div class="filter" >
    <mat-form-field >
      <input matInput (keyup)="applyFilter($event)" placeholder="Filter" />
    </mat-form-field>
  </div>

  <div class="container mat-elevation-z8">
    <mat-table [dataSource]="dataSource" matSort>
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          ID
        </mat-header-cell>
        <mat-cell *matCellDef="let row"> </mat-cell>
      </ng-container>

      <!-- Progress Column -->
      <ng-container matColumnDef="NomeCompleto">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Nome
        </mat-header-cell>
        <mat-cell *matCellDef="let row"> </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="Email">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Email
        </mat-header-cell>
        <mat-cell *matCellDef="let row"> </mat-cell>
      </ng-container>

      <!-- Color Column -->
      <ng-container matColumnDef="Telemovel">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Telemovel
        </mat-header-cell>
        <mat-cell *matCellDef="let row" [style.color]="row.color"> </mat-cell>
      </ng-container>

      <!-- Color Column -->
      <ng-container matColumnDef="Nacionalidade">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Nacionalidade
        </mat-header-cell>
        <mat-cell *matCellDef="let row" [style.color]="row.color"> </mat-cell>
      </ng-container>
      <!-- Color Column -->
      <ng-container matColumnDef="DataDeEntrada">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Data de Entrada
        </mat-header-cell>
        <mat-cell *matCellDef="let row" [style.color]="row.color"> </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"> </mat-row>
    </mat-table>
  </div>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
