a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.main {
  width: 100%;
  height: auto;
  margin-top: 5% !important;
  object-fit: contain !important;
}

.container {
  display: flex;
  flex-direction: column;
}

.filter {
  width: 100%;
  min-height: 64px;
  padding: 0.5rem 1.2rem 0;
  background-color: #424242 !important;
  background-size: cover !important;
  object-fit: contain !important;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mat-paginator {
  width: 100%;
  min-width: 300px;
  /* bottom: 0;
  position: fixed; */
}
