<div class="main">
  <form class="example-form">
    <!-- 1º coluna  to ROOF-->
    <mat-grid-list  cols="4"  rowHeight="5rem" >
      <mat-grid-tile colspan="4"> </mat-grid-tile>
    </mat-grid-list>
    <!-- 1º Grid  nome e data de admissão -->
    <mat-grid-list  cols="4" rowHeight="fit" gutterSize="1px" style="height:3.5rem" >
      <mat-grid-tile  colspan="3" >
        <mat-form-field style="background-color: aliceblue">
          <mat-label>Nome Completo:</mat-label>
          <input matInput />  </mat-form-field
      ></mat-grid-tile>
      <mat-grid-tile  colspan="1">
        <mat-form-field >
          <mat-label>Data de Admissão:</mat-label>
          <input matInput />
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
  </form>
</div>
