<div class="moongy-company">
  <div class="moongy-header">
    <h1 class="moongy-header-h1">{{ companyName }}</h1>
    <h3 class="moongy-header-h3">Bem Vindo {{ companyUser }} !</h3>
  </div>
  <!-- Esse é o conteúdo principal da nossa página que receberá i imagem da DB -->
  <div>    
    <div class="img" [style.background-image]="'url(' + serverImage + ')'" ></div>

  </div>
</div>
<div class="wrapper">
  <!-- aqui carrega o conteudo via routerLink das paginas -->
</div>
<footer>
  <div class="footer-img"></div>
</footer>