<div class="main" backgroundColor="primary">
  <mat-grid-list cols="1" rowHeight="3rem">
    <mat-grid-tile colspan="1">
      <mat-toolbar>
        <span class="spacer">Lista de Todos Candidatos</span>
      </mat-toolbar>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list cols="1" rowHeight="4rem">
    <mat-grid-tile>
      <div class="filter">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event)" placeholder="Filter" />
        </mat-form-field>
      </div>
    </mat-grid-tile>
  </mat-grid-list>

  <div class="container mat-elevation-z8" backgroundColor="primary">
    <mat-table [dataSource]="dataSource" matSort>
      <!-- Progress Column -->
      <ng-container matColumnDef="NomeCompleto">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Nome
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <a [routerLink]="['/applient/', row['id']]">{{ row["name"] }}</a>
        </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="Email">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Email
        </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row["email"] }} </mat-cell>
      </ng-container>

      <!-- Color Column -->
      <ng-container matColumnDef="Telemovel">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Telemovel
        </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row["phone"] }}</mat-cell>
      </ng-container>

      <!-- Color Column -->
      <ng-container matColumnDef="Nacionalidade">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Nacionalidade
        </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row?.nationality }}</mat-cell>
      </ng-container>
      <!-- Color Column -->
      <ng-container matColumnDef="DataDeEntrada">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Data de Entrada
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          {{ row.admissionDate | date: "dd-MM-YYYY" }}
        </mat-cell>
      </ng-container>
      <!-- button -->
      <ng-container matColumnDef="Edit">
        <mat-header-cell *matHeaderCellDef mat-sort-header> </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button
            mat-icon-button
            class="material-icons"
            aria-label="Example icon-button with heart icon"
          >
            <span class="material-icons" style="cursor: pointer; color: rgb(53, 53, 230);"
              >mode_edit</span
            >
          </button>
          <button
            mat-icon-button
            class="material-icons"
            aria-label="Example icon-button with share icon"
          >
            <span class="material-icons" style="cursor: pointer; color: rgb(231, 61, 61);">delete</span>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns">
        <!-- <button
            mat-icon-button
            class="example-icon material-icons"
            aria-label="Example icon-button with heart icon"
            
          >
            <span class="material-icons" style="cursor: pointer"
              >mode_edit</span
            >
          </button>
          <button
            mat-icon-button
            class="example-icon material-icons"
            aria-label="Example icon-button with share icon"
          >
            <span class="material-icons" style="cursor: pointer">delete</span>
          </button> -->
      </mat-row>
    </mat-table>
  </div>

  <mat-paginator [pageSizeOptions]="[10, 20, 100]"></mat-paginator>
</div>
